# Wirtualne środowisko Python
myenv/
venv/
.venv/

# Pliki cache
__pycache__/
*.py[cod]

# Pliki systemowe
.DS_Store
.vscode/
.idea/

.claude/

.env/

# MkDocs build output
site/
.cache/

# Google verification
googleab2b4e4e74b6be5b.html

